* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(53,168,107,1) 49%, rgba(66,106,12,1) 100%);
}

.container {
    width: 50vw;
    margin-top: 10px;
    margin-left: 450px;
}

.container img {
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 20vw;
}

.name h1 {
    font-size: 28px;
    margin-top: 15px;
    margin-left: 19vw;
    color: #fff;

}

.name h2 {
    font-size: 18px;
    margin-top: 3px;
    margin-left: 20vw;
    color: #fff;
}

.links ul{
    display: flex;
    list-style: none;
    
 }

 .links ul li{
     align-content: space-between;
     margin-left: -7vw;
 }

 .links ul li a{
     margin: 1px;
     
 }

.buttons div {
    width: 49vw;
    margin-top: 20px;
    margin-left: 24vw;
}

.buttons ul li {
    list-style: none;
    padding: 30px;
    margin-top: 13px;
    background-color: rgb(175, 212, 187);
    border-radius: 5px 5px 5px 5px;

}

.buttons ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
}

.buttons ul li a:visited {
    color: #fff;
}

.buttons ul li:hover {
    background-color: rgb(178, 185, 185);
    ;
}


/* media query */
@media (max-width: 900px) {
    .container {
        width: 88vw;
        margin-top: 10px;
        margin-left: 6vw;
    }

    .container img {
        border-radius: 50%;
        margin-top: 20px;
        margin-left: 36vw;
    }


    .name h1 {
        font-size: 28px;
        margin-top: 15px;
        margin-left: 34vw;

    }

    .name h2 {
        font-size: 18px;
        margin-top: 3px;
        margin-left: 36vw;
    }

    .links ul{
        display: flex;
        list-style: none;
     }
 
     .links ul li{
         align-content: space-around;
         margin-left: -16vw;
     }
 
     .links ul li a{
         margin: 1px;
     }

    .buttons div {
        width: 80vw;
        margin-left: 10vw;
    }
    
    .buttons ul li {
        list-style: none;
        padding: 30px;
        margin-top: 13px;
        background-color: rgb(175, 212, 187);
        border-radius: 5px 5px 5px 5px;
    
    }
    
    .buttons ul li a {
        text-decoration: none;
        display: block;
        color: #fff;
    }
    
    .buttons ul li a:visited {
        color: #fff;
    }
    
    .buttons ul li:hover {
        background-color: rgb(178, 185, 185);
        ;
    }
}

/* media query */
@media (max-width: 360px) {
    .container {
        width: 88vw;
        margin-top: 10px;
        margin-left: 6vw;
    }

    .container img {
        border-radius: 50%;
        margin-top: 20px;
        margin-left: 80px;
    }


    .name h1 {
        font-size: 28px;
        margin-top: 15px;
        margin-left: 15vw;

    }

    .name h2 {
        font-size: 18px;
        margin-top: 3px;
        margin-left: 20vw;
    }

    .links ul{
       display: flex;
       list-style: none;
    }

    .links ul li{
        align-content: space-between;
        margin-left: -7vw;
    }

    .links ul li a{
        margin: 1px;
    }

    .buttons div {
        width: 80vw;
        margin-left: 10vw;
    }
    
    .buttons ul li {
        list-style: none;
        padding: 30px;
        margin-top: 13px;
        background-color: rgb(175, 212, 187);
        border-radius: 5px 5px 5px 5px;
    
    }
    
    .buttons ul li a {
        text-decoration: none;
        display: block;
        color: #fff;
    }
    
    .buttons ul li a:visited {
        color: #fff;
    }
    
    .buttons ul li:hover {
        background-color: rgb(178, 185, 185);
        
    }
}

/* fim media query */